In [2]:
import pandas as pd

In [4]:
data1 = pd.read_csv('商品需求测试集.csv')
data1

       product_id        date  is_sale_day
0            1001  2021-01-01            1
1            1001  2021-01-02            1
2            1001  2021-01-03            1
3            1001  2021-01-04            1
4            1001  2021-01-05            1
...           ...         ...          ...
18805        1210  2021-03-27            1
18806        1210  2021-03-28            1
18807        1210  2021-03-29            1
18808        1210  2021-03-30            1
18809        1210  2021-03-31            1

[18810 rows x 3 columns]

In [5]:
data2 = pd.read_csv('商品需求训练集.csv')
data2

        product_id        date  is_sale_day  label
0             1001  2018-02-01            0  274.0
1             1001  2018-02-02            0  131.0
2             1001  2018-02-03            0    0.0
3             1001  2018-02-04            0    0.0
4             1001  2018-02-05            0    0.0
...            ...         ...          ...    ...
221739        1210  2020-12-27            1  126.0
221740        1210  2020-12-28            1  114.0
221741        1210  2020-12-29            1    0.0
221742        1210  2020-12-30            1    0.0
221743        1210  2020-12-31            1    0.0

[221744 rows x 4 columns]